<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>

<br>

<%= image_tag @post.image.url(:medium) %>

<br>

<br>

<p><%= @post.description %></p>

<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
